.portfolio {
    background-color: black;
    display: flex;
    flex-flow: column;
}
.portfolio .CssSlider {
    align-self: center;
}
.portfolio .centerline hr {
    align-self: center;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
}
.portfolio .description {
    align-self: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 840px;
}
.portfolio .whiteline {
    width: 50%;
}

.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
    padding: 20px 0px;
}
.cssSlider .slides {
	overflow: hidden;
	width: 100%;
	height: 59vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 59vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: 100%;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: 180px;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}

@media screen and (max-width : 1769px) {
    .portfolio, .description {
        padding-left: 250px;
        padding-right: 250px;
    }
}
@media screen and (max-width : 1400px) {
    .portfolio, .description {
        padding-left: 200px;
        padding-right: 200px;
    }
}
@media screen and (max-width : 1202px) {
    .portfolio, .description {
        padding-left: 170px;
        padding-right: 170px;
    }
}
@media screen and (max-width : 1142px) {
    .portfolio, .description {
        padding-left: 130px;
        padding-right: 130px;
    }
    p {
        font-size: 14px;
    }
    .portfolio .description {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width : 1062px) {
    .portfolio, .description {
        padding-left: 80px;
        padding-right: 80px;
    }
    p {
        font-size: 12px;
    }
    .portfolio .description {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width : 962px) {
    .portfolio, .description {
        padding-left: 40px;
        padding-right: 40px;
    }
    .cssSlider .slides {
        height: 39vmin;
    }
    .cssSlider .slides > li {
        height: 39vmin;
    }
    .cssSlider .slides > li > img {
        height: 100%;
    }
    .cssSlider .thumbnails > li > a > img {
        height: 120px;
    }
    .portfolio .description {
        width: 100%;
    }
}
@media screen and (max-width : 643px) {
    .cssSlider .thumbnails > li > a > img {
        height: 70px;
    }
}
@media screen and (max-width : 476px) {
    .cssSlider .thumbnails > li > a > img {
        height: 40px;
    }
}